nav(class="countdown")
    button(class="countdown-toggler")
        span(class="visually-hidden") Focus
        img(src="/assets/countdown.png" alt="Countdown clock")
    div(class="container")
        div(class="content")
            p dummytekst