header(class="header")
    div
        - var profile = { imageUrl: '/assets/ralph-wave.gif', alt: 'Profile image' }
        include profile-image.pug
        h1(class="profile__name")= userName
        p(class="profile__title")= title
