header(class="header")
    div
        picture(class="profile-image-wrapper")
            img(src="/assets/ralph-wave.gif" alt="Profile image")
        h1(class="profile__name")= name
        p(class="profile__title")= title
