nav(class="main-nav")
    div(class="container")
        ul(class="nav-list")
            li
                a(href="/department/java") Java
            li
                a(href="/department/msdev") MsDev
            li
                a(href="/department/mssolutions") MsSolutions
            li
                a(href="/department/epi") EPI
            li
                a(href="/department/baa") BAA
            li
                a(href="/department/ux") UX
            li
                a(href="/department/trondheim") Trondheim
            li
                a(href="/department/aiadvisory") AI Advisory
            li
                a(href="/department/admin") Admin
            li
                a(href="/department/salesandmarketing") Sales & marketing
            li
                a(href="/mypage") My page
            li
                a(href="/chat") Chat
            li
                a(href="/logout") Logout
    button(class="nav-toggler")
        span(class="visually-hidden") Open navigation
        img(class="open" src="/assets/nav-list.png" alt="List")
        img(class="closed" src="/assets/close.png" alt="close")