nav(class="main-nav")
    div(class="container")
        ul(class="nav-list")
            if model && model.departments
                each opt, index in model.departments
                    li
                        a(href="/department/" + index)
                            span= opt.title
            li
                a(href="/mypage") My page
            li
                a(href="/chat") Chat
            li
                form(action="logout" method="post")
                    button(type="submit") Logout
    button(class="nav-toggler")
        span(class="visually-hidden") Open navigation
        img(class="open" src="/assets/nav-list.png" alt="List")
        img(class="closed" src="/assets/close.png" alt="close")