nav(class="main-nav")
    button(class="nav-toggler") Navigation
    ul(class="container")
        li
            a(href="#") Java
        li
            a(href="#") MsDev
        li
            a(href="#") MsSolutions
        li
            a(href="#") EPI
        li
            a(href="#") BAA
        li
            a(href="#") UX
        li
            a(href="#") Trondheim
        li
            a(href="#") AI Advisory
        li
            a(href="#") Admin
        li
            a(href="#") Sales & marketing