.countdown {
    position: fixed;
    z-index: 1;
}

.countdown .countdown-toggler {
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: 3rem;
    border: none;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    color: transparent;
    background-color: transparent;
}
.countdown .countdown-toggler .open {
    display: block;
}
.countdown.open .countdown-toggler .open {
    display: none;
}
.countdown .countdown-toggler .closed {
    display: none;
}
.countdown.open .countdown-toggler .closed {
    display: block;
}

.countdown .amination-background {
    display: block;
    position: fixed;
    background-color: #DA6343;
    top: 2.2rem;
    left: 2.2rem;
    border: none;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
}
.countdown .container {
    z-index: 2;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100vw;
    display: none;
    /* border-radius: 50%; */
    overflow-y: scroll !important;
    /* background-color: #DA6343; */
    background-color: transparent;
    transition: all 0.5s ease 0s;
    /* transform: translate3d(0%, 0px, 0px); */
}

.countdown.open .amination-background {
    width: 300vh;
    height: 300vh;
    top: -100vh;
    left: -100vh;
}

.countdown.open .container {
    /* height: 100%;
    width: 100vw; */
    /* border-radius: 0%; */
    display: block;
    transform: translate3d(0%, 0px, 0px);
}
.countdown.open .countdown-toggler {
    z-index: 2;
}

.countdown .container .content {
    width: 80%;
    text-align: right;
    line-height: 2.5;
    margin-top: 8rem;
}

.countdown.open ~ .page-container {
    /* transform: translate3d(100%, 0px, 0px); */
}