.profile-image-wrapper {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}
.profile-image-wrapper img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.profile__name {
    font-size: 1.25rem;
    margin-top: 1.188rem;
}
.profile__title {
    font-weight: 200;
    margin-top: .5em;
}

.status-title {
    font-size: 0.875rem;
}

.info-card {
    background-image: url('/assets/info.card-bg.png');

}