* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 20px Helvetica, Arial;
}
img {
    max-width: 100%;
}
.chat-wrapper {
    display: flex;
}
form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex: 1;
}
form #m {
    border: 0;
    flex: 1;
}
form button {
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    font-size: 1rem;
}
#messages {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
    padding: 5px 10px;
    display: block;
}
#messages li:nth-child(odd) {
    background: #eee;
}