extends shared/layout/plane.pug
block content
    header(class="header")
        div
            h1 404 - Page not found
    div(class="main")
        p Looks like the page you are looking for is gone. Don't worry, I will get to the bottom of this!
