extends shared/layout/main.pug
block content
    header(class="header")
        div
            img(src="/assets/ralph-wave.gif" alt="Profile image")
            h1 Chat
        a(href="/timer") Timer
        include shared/navigation.pug
    main(class="main")
        div Select your favorite color:
            input(id="favcolor" type="color" name="favcolor" value="#ff0000")
        div(class="chat-wrapper")
            ul(id="messages")
            form(action="" id="form")
            input(id="m" autocomplete="off")
            button Send
block footerScripts
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io();
        const form = document.getElementById('form');
        const messageInput = document.getElementById('m');
        const messages = document.getElementById('messages');
        const favcolorInput = document.getElementById('favcolor');
        const postMessage = event => {
            event.preventDefault();
            socket.emit('chat message', {
              text: messageInput.value,
              color: favcolorInput.value
            });
            messageInput.value = "";
            return false;
        };
        const setFavcolor = event => {
          event.preventDefault();
          console.log(event);
          socket
          return false;
        }
        form.addEventListener('submit', postMessage);
        socket.on('chat message', props => {
          const {
            text
          } = props;
            console.log('chat message', props);
            const li = document.createElement('li');
            const p = document.createElement('p');
            p.setAttribute("style", "background-color:" + props.color);
            const message = document.createTextNode(text);
            p.appendChild(message);
            li.appendChild(p);
            messages.appendChild(li);
        })
    script(src="./js/main.js")
