extends shared/layout/plane.pug
block content
    header(class="header")
        div
            h1= model.departmentsData.title
    div(class="main")
        if model.departmentsData.employees
            ul(class="department-employees")
                each employee, index in model.departmentsData.employees
                    li
                        a(href="/employee/" + index)
                            img(class="goto-employee-arrow" src="/assets/goto.png" alt="Go to user profile")
                            span(class="name")= employee.username
                            span(class="title")= employee.jobtitle
        else
            p No employees listed in department
            
block footerScripts
    script(src="./js/main.js")
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io();
        socket.emit('userShouldBeLoggedInHere',{});
        socket.on('redirect', destination => window.location.href = destination);
