extends shared/layout/main.pug

block content
    header(class="header")
        div
            h1= model && model.currentPage && model.currentPage.pageTitle
    div(class="main")
        if model && model.currentPage && model.currentPage.employees
            ul(class="department-employees")
                each employee, index in model.currentPage.employees
                    li
                        a(href="/employee/" + index)
                            img(class="goto-employee-arrow" src="/assets/goto.png" alt="Go to user profile")
                            span(class="name")= employee.username
                            span(class="title")= employee.jobtitle
        else
            p No employees listed in department

block footerScripts
    script(src="/js/main.js")
