extends shared/layout/main.pug

block content
    - var name = 'Signe Anderson' //'[username]'
    - var title = 'Front-end developer'
    include shared/header.pug
    div(class="main")
        img(src="/assets/hourglass.png")
        h2(class="status-title") No requests from your colleagues

block footerScripts    
    script(src="./js/main.js")
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io();
        socket.emit('userShouldBeLoggedInHere',{});
        socket.on('redirect', destination => window.location.href = destination);
