extends shared/layout/plane.pug

block splash
    div(id="splash")
        div
            img(src="/assets/logo.png" alt="Profile image")
block content
    header(class="header")
        h1 Login
    div(class="main")
        form(class="narrow-wrapper" id="loginform")
            label(for="email") Email
            input(type="email" name="email" id="email")
            label(for="password") Password
            input(type="password" name="password" id="usrpwd")
            button(type="submit" href="/mypage") Login
        div(class="narrow-wrapper")
            a(class="forgot-password" href="/reset-password") Forgot password?
            a(class="new-user" href="/register") New user
block footerScripts
    script(src="./js/main.js")
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io();
        const form = document.getElementById('loginform');
        const email = document.getElementById('email');
        const password = document.getElementById('usrpwd');
        const login = event => {
            event.preventDefault();
            socket.emit('login', {
              email: email.value,
              password: password.value
            });
            //- console.log(email.value, password.value);
            email.value = "";
            return false;
        };
        socket.on('redirect', function(destination) {
            window.location.href = destination;
        });
        form.addEventListener('submit', login);

        const splash = document.getElementById("splash");
        splash.addEventListener("animationend", function() {
            splash.parentNode.removeChild(splash);
        }, false);
