extends shared/layout/plane.pug

block splash
    div(id="splash")
        div
            img(src="/assets/logo.png" alt="Profile image")
block content
    header(class="header")
        h1(class="visually-hidden") Login
    div(class="main" style="background-image: url(/assets/login-bg.png);background-position-y: 1em;")
        form(class="narrow-wrapper" id="loginform")
            div(class="input-wrapper")
                input(type="email" name="email" id="email" required)
                label(for="email") Email
            div(class="input-wrapper")
                input(type="password" name="password" id="usrpwd" required)
                label(for="password") Password
            
            div(class="narrow-wrapper")
                a(class="forgot-password" href="/reset-password") Forgot password?
                a(class="new-user" href="/register") New user

            button(type="submit" href="/mypage")
                    img(src="/assets/checkmark.png" alt="Login")
block footerScripts
    script(src="./js/main.js")
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io();
        const form = document.getElementById('loginform');
        const email = document.getElementById('email');
        const password = document.getElementById('usrpwd');
        const login = event => {
            event.preventDefault();
            socket.emit('login', {
              email: email.value,
              password: password.value
            });
            //- console.log(email.value, password.value);
            return false;
        };
        socket.on('redirect', function(destination) {
            window.location.href = destination;
        });
        form.addEventListener('submit', login);

        const splash = document.getElementById("splash");
        splash.addEventListener("animationend", function() {
            splash.parentNode.removeChild(splash);
        }, false);
