extends shared/layout/plane.pug
block content
    header(class="header")
        h1 Logout
    div(class="main")
        p Logging you out...
    script(src="./js/main.js")
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io();
        socket.emit('logout', {});
        socket.on('redirect', function(destination) {
            window.location.href = destination;
        });
