extends shared/layout/main.pug

block content
    - var name = 'Signe Anderson' //'[username]'
    - var title = 'Front-end developer'
    include shared/header.pug
    div(class="main")
        h2 No requests from your colleagues

block footerScripts    
    script(src="./js/main.js")
