extends shared/layout/main.pug

block content
    include shared/header.pug
    //- header(class="header")
    //-     h1= model.user.username
    //-     a(href=`/${model.user.department.slug}`)
    //-         span= model.user.department.title
    div(class="main")
        //- include shared/profile-image.pug
        p Hi! I am a 
            span= model.user && model.user.jobtitle
    script(src="/js/main.js")
