extends shared/layout/main.pug

block content
    include shared/header.pug
    div(class="main")
        div(class="info-card")
            img(src="/assets/countdown.png" alt="The user is currently very busy")
            p Very Busy
            p Miljødirektoratet
            p Avalible in
                span 13min

    script(src="/js/main.js")
