extends shared/layout/plane.pug
block content
    header(class="header")
        div
            h1 Forgot your password?
    div(class="main")
        form(action="reset-password" method="post")
            label Email
                input(type="email" name="email")
            button(type="submit") Reset
        a(href="/register") New user
