extends shared/layout/plane.pug
block content
    header(class="header")
        div
            h1 Forgot your password?
    div(class="main")
        form
            label Email
                input(type="email" name="emailaddress")
            button(type="submit") Reset
        a(href="/register") New user
