#messages {
    height: 50vw;
    width: 100%;
    background-color: white;
    position: relative;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll !important;
}
#messages li {
    padding: 5px 10px;
    display: block;
}
#messages li:nth-child(odd) {
    background: #eee;
}