extends shared/layout/plane.pug
block content
    header(class="header")
        div
            h1 Account setup
    div(class="main")
        form(id="loginform" action="setup" method="post")
            label Name
                input(type="text" name="username" id="username" required)
            label
                span(class="visually-hidden") Profile picture
                picture(class="profile-image-wrapper")
                    img(id='imageOut' src='/assets/ralph-wave.gif' alt='')
                input(type="file" name="userimage" accept="image/*" id="userimage" class="visually-hidden")
                input(type="string" name="imageurl" id="imageurl" class="visually-hidden")
            
            div
                label(for="department") Choose department:
                select(name="department" id="department" required)
                    option(value="" disabled hidden selected) --Please choose an option--
                    each opt, index in model.departments
                        option(value=index)= opt.title

            label Jobtitle
                input(type="text" name="jobtitle" id="jobtitle" required)
            button(type="submit") Done

block footerScripts
    script.
        const form = document.getElementById('loginform'),
            name = document.getElementById('name'),
            department = document.getElementById('department'),
            jobtitle = document.getElementById('jobtitle'),
            fileIn = document.getElementById('userimage'),
            fileOut = document.getElementById('imageOut'),
            imageurl = document.getElementById('imageurl');

        const readUrl = event => {
            if(event.files && event.files[0]) {
                let reader = new FileReader();
                    reader.onload = event => {
                        fileOut.src = event.target.result;
                        imageurl.value = event.target.result;
                    }
                    reader.readAsDataURL(event.files[0]);
            }
        }

        fileIn.onchange = function() {readUrl(this);}
