extends root.pug
block headScripts
    script(src="https://unpkg.com/lodash@4.16.6")
block body
    block splash
    include ../navigation.pug
    include ../countdown.pug
    
    div(class="page-container")
        div(class=`main-wrapper`)
            block content
block footerScripts
    script(src="./js/main.js")
    include ../add-service-worker.pug