//- main layout
doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title #{title} / Flo
    link(rel="stylesheet" href="style.css")
    block headScripts

if layoutType
    body(class=`page ${layoutType}`)
        block body
        block footScripts
else
    body(class=`page`)
        block body
        block footScripts
    