//- root layout
doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" type="text/css" href="/style.css" media="all")
    link(rel="manifest" href="manifest.json")
    title #{pageTitle} / Flo
    include ../favicon.pug
    block headScripts

body(class=`page${layoutType ? ' ' +layoutType : ''}`)
    block body
    block footerScripts
    include ../add-service-worker.pug
    